{% extends "layout.html" %}

{% block content %}
<div class="min-h-screen flex flex-col justify-center items-center bg-gray-50 py-10">
    <div class="bg-white shadow-2xl rounded-xl p-12 text-center w-full max-w-4xl">
        <h1 class="text-4xl font-extrabold text-gray-800 mb-8">Bienvenido al Recomendador de Poemas</h1>
        <p class="text-lg text-gray-600 mb-8">Introduce un tema y recibe recomendaciones de poemas.</p>
        <form method="post" class="flex items-center w-full space-x-4">
            {% csrf_token %}
            <input type="text" name="theme" class="form-input shadow-md focus:ring-2 focus:ring-blue-500 focus:outline-none mt-2 mb-4 w-3/4 rounded-md p-4 text-lg placeholder-gray-400" placeholder="Introduce un tema">
            <button type="submit" class="w-1/4 bg-gradient-to-r from-blue-500 to-indigo-500 text-white px-6 py-3 rounded-md hover:from-blue-600 hover:to-indigo-600 transition duration-300">Recomendar</button>
        </form>
    </div>

    {% if recommendations %}
    <div class="mt-16 w-full max-w-7xl px-7 bg-gray-800 py-10 rounded-lg shadow-2xl">
        <h2 class="text-3xl font-bold text-center mb-10 text-white">Recomendaciones</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
            {% for poem in recommendations %}
                <div class="relative bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
                    <div class="flex justify-between items-center bg-gray-100 p-4 border-b border-gray-300">
                        <div class="flex items-center">
                            <div class="text-indigo-500 font-bold border border-indigo-500 rounded-lg px-3 py-1">
                                {{ "Top " }}{{ forloop.counter }}
                            </div>
                        </div>
                        <form method="post" action="{% url 'save_poem' %}" class="flex items-center ml-auto">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ poem.titulo }}">
                            <input type="hidden" name="poet" value="{{ poem.poeta }}">
                            <input type="hidden" name="content" value="{{ poem.Poem }}">
                            <input type="hidden" name="tags" value="{{ poem.tags }}">
                            <button type="submit" class="bg-gradient-to-r from-indigo-400 to-indigo-600 text-white px-3 py-1 rounded-full shadow-md hover:from-indigo-500 hover:to-indigo-700 transition duration-300 ml-4">Guardar</button>
                        </form>
                    </div>
                        
                    <div class="p-6 flex flex-col justify-between h-full">
                        <div class="mt-4 mb-4">
                            <h5 class="text-2xl font-bold text-gray-900">{{ poem.titulo }}</h5>
                        </div>
                        <h6 class="text-lg text-gray-700 mb-4">por {{ poem.poeta }}</h6>
                        <div class="mt-4">
                            <span class="text-sm text-gray-500">{{ poem.tags }}</span>
                        </div>
                        <hr class="border-gray-300 my-2">
                        <p class="text-base text-gray-800 flex-grow">{{ poem.Poem|slice:":1000" }}...</p>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    
    


</div>
{% endblock %}
