<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendador de Poemas</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.2.4/alpine.js" defer></script>
    <style>
        body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/img.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

    </style>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-white text-lg font-bold" href="{% url 'index' %}">Poem Recommender</a>
            <button @click="open = !open" class="text-white block lg:hidden" x-data="{ open: false }">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <div :class="{'block': open, 'hidden': !open}" class="hidden lg:flex lg:items-center lg:w-auto w-full">
                <ul class="text-white lg:flex lg:justify-between">
                    <li><a class="block lg:inline-block mt-4 lg:mt-0 lg:ml-6" href="{% url 'index' %}">Inicio</a></li>
                    <li><a class="block lg:inline-block mt-4 lg:mt-0 lg:ml-6" href="{% url 'saved_poems' %}">Poemas Guardados</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-800 text-white text-center py-4">
        <div class="container mx-auto">
            <span>© 2024 Poem Recommender. Todos los derechos reservados.</span>
        </div>
    </footer>
</body>
</html>
